pandas ~= 1.4.2
dvc ~= 1.10.1
dvc[s3] ~= 1.10.1
pyyaml ~= 6.0
fastapi ~= 0.63.0
uvicorn
gunicorn
# we use pytorch cpu only version to reduce the slug size in Heroku
-f https://download.pytorch.org/whl/torch_stable.html